.navbar-brand {
    padding: 10px 20px;
    background:white;
    font-weight:bold;
    text-transform: uppercase;
    border:5px solid blue;
    color: blue !important;
}

.navbar {
    padding: 15px 0;
}

.full-width {
    width:100%;
    display:block;
}

.venue-details {
    background:#ccc;
}

.venue-name {
    cursor: pointer;
}

#map {height:500px; width:100%; }
