<form name="searchForm" ng-submit="ctrl.submit()">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-10 col-xs-12">
                <input type="text" required ng-minlength="2" ng-model="ctrl.search.term" placeholder="Enter a search term e.g 'Soho, London'" class="form-control" />
            </div>
            <div class="col-lg-2 col-xs-12">
                <button type="submit" class="full-width btn btn-primary" ng-disabled="searchForm.$invalid">Search</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1">
            <button type="button" ng-disabled="ctrl.anyResults() === false || ctrl.search.offset == 0" ng-click="ctrl.decrementOffset()">&lt;</button>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-warning" ng-hide="ctrl.anyResults() === true || ctrl.errMessage.length != 0">Enter a location and click search!</div>
                    <div class="alert alert-danger" ng-bind="ctrl.errMessage" ng-show="ctrl.errMessage != ''"></div>
                </div>
                <div ng-repeat="group in ctrl.results">
                    <div class="col-lg-3" ng-repeat="item in group.items">
                        <a class="venue-name text-center full-width" ng-click="ctrl.setSelectedVenue(item.venue)" ng-bind="item.venue.name"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <button type="button" class="pull-right" ng-click="ctrl.incrementOffset()" ng-disabled="ctrl.anyResults() === false">&gt;</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" ng-model="ctrl.selectedVenue" ng-show="ctrl.selectedVenue != null">
            <div class="venue-details">
                <div class="row">
                <div class="col-lg-6">
                    <dl>
                        <div class="row">
                            <dt ng-show="ctrl.selectedVenue.description" class="col-xs-3">Description</dt>
                            <dd ng-bind="ctrl.selectedVenue.description" class="col-xs-9"></dd>
                        </div>
                        <div class="row">
                            <dt class="col-xs-3">Address</dt>
                            <dd class="col-xs-9">
                                <div ng-repeat="line in ctrl.selectedVenue.location.formattedAddress">{{line}}</div>
                            </dd>
                        </div>
                        <div class="row" ng-show="ctrl.selectedVenue.contact.twitter">
                            <dt class="col-xs-3">Twitter</dt>
                            <dd class="col-xs-9">
                                <a href="https://twitter.com/{{ ctrl.selectedVenue.contact.twitter }}" target="_blank">
                                    @{{ ctrl.selectedVenue.contact.twitter }}
                                </a>
                            </dd>
                        </div>

                    </dl>
                </div>
                <div class="col-lg-6">
                    <div id="map"></div>
                </div>
                    </div>
            </div>
        </div>
    </div>
</form>
