doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.js')
    link(rel='stylesheet', href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.css')
  body(ng-app='4sqwhere')
    nav.navbar.navbar-default
      .container
        .navbar-header.col-lg-12
          .row
            .col-lg-6
              a.navbar-brand(href='/#/') 4sqwhere?
    .container(ng-view)
        block content

    script(type='text/javascript', src='/assets/javascripts/jquery.min.js')
    script(type='text/javascript', src='/assets/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/assets/javascripts/angular.min.js')
    script(type='text/javascript', src='/assets/javascripts/angular-route.min.js')
    script(type='text/javascript', src='/assets/javascripts/app.js')
    script(type='text/javascript', src='/services/search.service.js')
    script(type='text/javascript', src='/controllers/home.controller.js')
    script(type='text/javascript').
      mapboxgl.accessToken = 'pk.eyJ1IjoiZ2VvcmdlYmxhaGJsYWgiLCJhIjoiY2ludGNpbzN6MDBtcXZza2xkZWFhZm9ucCJ9.WGEpSBYdSzQ6LVDEiPqfNA';
